<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>NewUser</title>
</head>
<body>

<form th:method="POST" th:action="@{/}" th:object="${user}">
    <label for="name">Enter name: </label>
    <input th:type="text" th:field="*{name}" id="name"/>
    <label for="password">Enter password: </label>
    <input th:type="text" th:field="*{password}" id="password"/>
    <label for="size">Enter size: </label>
    <input th:type="text" th:field="*{penisSize}" id="size"/>
    <label for="drove">Enter drove: </label>
    <input th:type="text" th:field="*{drove}" id="drove"/>
    <br/>
    <label th:for="flag">ROOT</label>
  <input type="checkbox"  name="flag" th:checked="${flag}"/>
    <br/>
    <input th:type="submit" value="Create"/>
</form>
</body>
</html>