<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>Admin</title>
</head>
<body>
<form th:method="GET">
    <div th:each="user : ${users}">
        <a th:href="@{/admin/{id}(id=${user.getId()})}" th:text="${user.getName()}">user</a>
    </div>
<br/>
</form>
    <form th:action="@{/admin/new}">
    <input  th:type="submit" value="Создать нового чепуха"/>
    </form>
    <form th:action="@{/logout}">
        <input th:type="submit" value="Выход из профиля"/>
    </form>
</body>

</html>