<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<label for="role">Роль: </label>
<a th:text="${user.getUserRoles()}" id="role">VALUE</a><br/>
<br/>
<label for="name">Имя: </label>
<a th:text="${user.getName()}" id="name">VALUE</a><br/>
<label for="size">Размер писюна: </label>
<a th:text="${user.getPenisSize()}" id="size">VALUE</a><br/>
<label for="drove">Кликуха: </label>
<a th:text="${user.getDrove()}" id="drove">VALUE</a><br/>
<br/>
<form th:action="@{/logout}">
    <input th:type="submit" value="Выход из профиля"/>
</form>
</body>
</html>